<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>分享视频</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta content="telephone=no" name="format-detection"/>
    <meta content="email=no" name="format-detection"/>
    <meta content="address=no" name="format-detection"/>
    <meta name="applicable-device" content="mobile"/>
    <!-- UC强制竖屏 -->
    <meta name="screen-orientation" content="portrait"/>
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait"/>
    <meta name="Keywords" content=""/>
    <meta name="Description" content=""/>
    <link rel="stylesheet" href="/faceshow/css/common.css"/>
    <link rel="stylesheet" href="/faceshow/css/faceshow.css"/>
    <link rel="stylesheet" href="/faceshow/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" type="/faceshow/text/css" href="css/iconfont.css"/>
    <link rel="stylesheet" type="/faceshow/text/css" href="css/willesPlay.css"/>
    <script src="/faceshow/js/jquery-2.1.0.js"></script>
</head>

<body>

<div class="wrap_layout" style="position: relative;">
    <div class="fc_header">
        <div class="logo_wrap"><span class="fc_slogan">美颜椒友 疯狂卖萌</span></div>
        <a href="javascript:;" class="download_app" id="openApp" onclick="openModal()">打开看看</a>
    </div>
    <!--delete_video-->
    <p class="delete_tip" th:text="${msg2}"></p>

    <!--more-->
    <div class="video_wrap clearfix">
        <div class="header">
            <span class="title" th:text="${msg}"></span>
        </div>
        <ul class="video_list clearfix" id="more_video">
            <li th:each="video : ${list}">
                <a href="#">
                    <img th:src="${video.img}"/>
                </a>
                <span class="play_btn"></span>
                <div class="more_detail">
                    <span class="name" th:text="${video.nick_name}"></span>
                    <span class="num" th:text="${video.playNum}"></span>
                </div>
            </li>
        </ul>
    </div>
    <div class="fc_header bott_header">
        <div class="logo_wrap"><span class="fc_slogan">美颜椒友 疯狂卖萌</span></div>
        <a href="javascript:;" class="download_app" onclick="openModal()">立即加入</a>
    </div>
</div>

</body>
<script type="text/javascript" src="/faceshow/js/faceshow.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".video_list li").click(function () {
            // 转调到下载页面
            openModal();
        });
    });
</script>

</html>